/* Custom styles for the daycare theme */
body {
  background-color: #fff;
  color: #333;
}
.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}
.abeezee-regular {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.abeezee-regular-italic {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.navbar-custom {
  background-color: #f1d016;
  height: 90px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.navbar-custom .navbar-brand {
  font-size: 15px;
  height: 90px;
  display: flex;
  align-items: center;
}
.navbar-custom .navbar-brand img {
  height: 90px;
}
.navbar-custom .navbar-nav .nav-link {
  color: black;
  font-size: 15px;
  position: relative;
  text-decoration: none;
}
.navbar-custom .navbar-nav .nav-link:hover {
  color: white;
  text-decoration: none;
}
.navbar-custom .navbar-nav .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.navbar-custom .navbar-nav .nav-link:hover::after {
  width: 100%;
}
.navbar-custom .navbar-toggler {
  border-color: black;
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* Adjust dropdown menu */
.navbar-custom .dropdown-menu {
  background-color: #f1d016; /* Background color for dropdown */
  border: none; /* Remove default border */
}

.navbar-custom .dropdown-menu a.dropdown-item {
  color: black; /* Text color */
}

.navbar-custom .dropdown-menu a.dropdown-item:hover {
  color: white; /* Text color on hover */
  background-color: #d1b506; /* Hover background color */
}

.navbar-custom .dropdown-menu a.dropdown-item.active {
  color: white; /* Active item text color */
  background-color: #d1b506; /* Active item background color */
}
.sidebar {
    background-color: #07025d;
    
    padding: 20px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}
.sidebar a:hover {
  color: #e7d234;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
}
.carousel-item img {
  height: 500px;
  object-fit: cover;
}
.btn-kprimary {
  color: #fff;
  background-color: #f1d016;
  border-color: #f1ce0b;
}
.btn-kprimary:hover {
  color: #fff;
  background-color: #d6b707;
  border-color: #f1ce0b;
}
.navbar-dark .navbar-nav .nav-link {
  color: #000;
}

.menu-item {
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
.menu-item:hover {
  transform: scale(1.1); /* Scale up the menu item on hover */
  color: #ff6f00; /* Change text color on hover */
}
.jumbotron {
  background-color: transparent; /* Transparent background */
  color: #fff;
  padding-top: 100px; /* Adjust top padding as needed */
}
.welcome-text {
  background-color: #f39c12; /* Orange background */
  color: #fff;
  padding: 25px;
  text-align: center;
}
.login-btn {
  background-color: #fff; /* Orange background */
  color: #f1d016;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform:uppercase;
}
.login-btn:hover {
  background-color: #0d0b3f; /* Darker blue on hover */
  color: #fff;
}
.section-title {
  color: #f39c12; /* Orange color */
  font-weight: bolder;
}
.section-content {
  padding: 40px 0;
}
.feature-icon {
  font-size: 3rem;
  color: #f39c12; /* Orange color */
}
.feature-title {
  color: #333;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.instagram-gallery {
  padding: 40px 0;
}
.instagram-gallery img {
  width: 100%;
  height: auto;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}
/* Custom styles for logo section */
.navbar-collapse:first-child {
  padding-right: 30%;
}
.navbar-collapse:last-child {
  padding-left: 25%;
}
.top-content {
  width: 100%;
  padding: 0;
}
.top-content .carousel-control-prev {
  border-bottom: 0;
}
.top-content .carousel-control-next {
  border-bottom: 0;
}
.top-content .carousel-indicators li {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}

.row,.col-md-3{
  width: 100%;
}

#card-texter-wrapper{
  width: 25%;
  float: left;
  margin-left: 5%;
}

.col-md-5{
  width: 100%;
  margin-left: 0%;
}

.col-md-5 select{
  width: 100%;
}


#card-wrapper-ajax{
  float: left;
  margin-left: 8%;
  border-radius: 4px;
  width: 25%;
}

.card-body-ajax{
  float: left;
  border-radius: 4px;
  width: 25%;
  margin-left: 8%;
}

.main-display-viewer{
  width: 91%;
  margin-left: 5%;
  height: 400px;
  margin-bottom: 5%;
  border-radius: 4px;
  border: 1px solid rgb(191, 210, 226);
}

.sub-min-viewer{
  width: 100%;
  padding: 5px;
  background-color: rgb(168, 211, 248);
}

.specifier-activ{
  float: left;
  padding: 4px;
  font-size: 15px;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.specifier-activ:hover{
  color: green;
  cursor: pointer;
}

.show-form-activ{
  float: right;
  color: #000;
  background-color: #007BFF;
  font-size: 15px;
  border: none;
  background-color: inherit;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submit-act-btn{
  width: 20%;
  background-color: #007BFF;
  padding: 6px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.search-wrapp{
  float: right;
  width: 50%;
}
.search-wrapp input{
  width: 75%;
  padding: 6px;
}

.card-header h1{
  float: left;
  padding: 6px;
}

.card-body{
  width: 100%;
}

.card-body table{
  width: 100%;
}

.card-body table .head-tr th{
  padding: 4px;
  border: 1px solid #999;
}

.card-body table .main-tr-wrapper td{
  padding: 4px;
  border: 1px solid #999;
}

.card-body table .main-tr-wrapper td a{
  color: #0000FF;
  text-align: center;
}

.md-5-col-mod,.md-poop-susu-col,.md-poop-susu-col,.md-nap-col-5,.md-meal-times-6{
  float: left;
  width: 30%;
  margin-left: 2%;
}

.md-dieper-7{
  float: none;
  width: 98%;
  margin-top: 5%;
}

.min-coop-1{
  float: left;
  width: 30%;
  margin-left: 2%;
}
.min-coop-2{
  width: 30%;
  float: left;
  margin-left: 2%;
}

.min-coop-3{
  float: left;
  width: 30%;
  margin-left: 2%;
}

.row-md7{
  width: 95%;
}

.bottom-md7{
  float: left;
  width: 49%;
}
.bottom-md8{
  width: 49%;
  float: right;
}

.row-md7 textarea{
  width: 100%;
}

.card-md-dealer select{
  width: 100%;
}
.card-md-dealer label{
  font-weight: 500;
  color: #423cb5;
  font-size: 15px;
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-md-dealer textarea{
  width: 100%;
}

.btn-submit{
  float: left;
  padding: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  border: none;
  width: 120px;
  border-radius: 4px;
  font-size: 14px;
}

/*FLASH MESSAGE */

@keyframes slideFromRight{
  from{
    transform: translateX(120%);
  }
  to{
    transform: translateX(0%);
  }
}

.flas-message-diaply{
  position: absolute;
  animation: slideFromRight 1s forwards;
  right: 0%;
  background-color: green;
  top: -5%;
  border-radius: 4px;
}

.flas-message-diaply p{
  padding: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  float: left;
  color: #fff;
}

.closePopUp{
  float: right;
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 6px;
  color: #000;
  font-size: 12px;
}

.md-data-tabler{
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
}
.md-data-tabler .head-tr-mod{
  width: 100%;
  padding: 6px;
  border: 1px solid #999;
}

.md-data-tabler .head-tr-mod th{
  padding: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: 500;
  border: 1px solid #999;
}

.md-data-tabler .data-tr-mod{
  width: 100%;
  padding: 6px;
  border: 1px solid #999;
}

.md-data-tabler .data-tr-mod td{
  padding: 6px;
  font-weight: 500;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid #999;
}

.wrapper-ajax-search{
  width: 40%;
  margin-left: 5%;
}
.wrapper-ajax-search input{
  width: 70%;
  float: left;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px;
}

.wrapper-ajax-search button{
  width: 25%;
  background-color: #007BFF;
  float: left;
  color: #FFF;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 1%;
  padding: 6px;
  font-size: 16px;
}

.paginate-builder{
  width: 80%;
  margin-bottom: 3%;
}
.paginate-builder a{
  color: #000;
}
.paginate-builder p{
  color: #000;
}

.modal-md-5{
  display: block;
  width: 100%;
}
.modal-dialog,.container{
  width: 100%;
}

.modal-content select,input{
  width: 100%;
}

.table img{
  width: 100px;
  height: 70px;
}

.row-modal,.col-md-6{
  width: 100%;
}

.view-notif{
  float: right;
  background-color: orange;
  color: #FFFFFF;
  padding: 6px;
  border-radius: 4px;
  font-size: 14px;
}

.view-notif a{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.view-notif a:hover{
  text-decoration: none;
}

.event-callendar-col{
  width: 100%;
}
.event-callendar-col .left-opt-col-5{
  width: 49%;
  float: left;
}

.event-callendar-col span{
  color: red;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.left-opt-col-5 select{
  width: 100%;
}

.event-callendar-col .middl-event-col-6{
  float: right;
  width: 49%;
}
.middl-event-col-6 select{
  width: 100%;
}

.event-callendar-col .right-event-col-7{
  float: none;
  width: 100%;
}


.right-event-col-7 textarea{
  width: 100%;
}
.submit-event-recorder{
  width: 140px;
  background-color: #007BFF;
  border-radius: 4px;
  padding: 6px;
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.submit-event-recorder:hover{
  color: darkblue;
}

.calendar-col-5 h3,p{
  padding: 5px;
}

.calendar-col-7{
  cursor: pointer;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: #FFF;
}

.calendar-col-6 h1{
  padding: 4px;
}

.calendar-col-6{
  cursor: pointer;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: #FFF;
}


.calendar-col-7:hover{
  border-radius: 4px;
  background-color: #636262;
  color: #FFF;
}

.calendar-col-7 h1{
  padding: 4px;
}

.data-tr-td{
  width: 50%;
}

.viewable-class-holder{
  width: 100%;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.view-btn-eye a:hover{
  color: #FFFFFF;
  text-decoration: none;
}

@keyframes blink-animate{
  to{
    visibility: hidden;
  }
}

.new-alert{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: orange;
  font-weight: 600;
  animation: blink-animate 1s steps(5, start) infinite;
}

.old-alert{
  color: green;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.tr-td-class{
  padding: 10px 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.tr-td-class td,th{
  padding: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-btn:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.delete-btn:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.submit-btn:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.close-form:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.close-form{
  float: right;
  padding: 6px;
  font-size: 14px;
  width: 100px;
  color: #FFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-form-bt{
  position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  left: 30%;
  display: none;
  background-color: #FFF;
  width: 40%;
  top: 20%;
}

.delete-user-r{
  position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  left: 30%;
  display: none;
  background-color: #FFF;
  width: 40%;
  top: 20%;
}

.edit-form-bt select{
  width: 100%;
  padding: 6px;
  border-radius: 4px;
}

.edit-form-bt label{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
}

.edit-form-bt h1{
  float: left;
}

.edit-form-bt .submit-btn{
  float: left;
  padding: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: orange;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  width: 100px;
  cursor: pointer;
}

.button-btn:focus{
  border: none;
  outline: none;
  box-shadow: none;
}

.comment-activity{
  background-color: orange;
  padding: 6px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  cursor: pointer;
  width: 120px;
  color: #FFFFFF;
  border-radius: 16px;
}

.comment-activity:focus{
  outline: none;
  border: none;
  box-shadow: none;
}


.btn-submit-mid{
  float: left;
  background-color: #d1b506;
  color: #FFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  padding: 6px;
  border-radius: 4px;
}

.btn-submit-mid:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.image-payment-viewer{
  position: absolute;
  top: -5%;
  left: 10%;
  background-color: #FFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  padding: 5px;
  width: 80%;
  cursor: pointer;
  height: 500px;
}

.image-payment-viewer embed{
  width: 100%;
  height: 420px;
}

.closeImage{
  float: right;
  font-size: 20px;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  background-color: #FFF;
  width: 40px;
  color: red;
}

.closeImage:focus{
  outline: none;
  border: none;
  box-shadow: none;
}
.image-payment-viewer h1{
  float: left;
  padding: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-btn-fx{
  border: none;
}

.edit-btn-fx:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.edit-form-pointer{
  position: absolute;
  top: 25%;
  border-radius: 4px;
  width: 40%;
  left: 25%;
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 6px;
}

.edit-form-pointer label{
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.edit-form-pointer input,select{
  width: 100%;
  border-radius: 4px;
}

.edit-form-pointer .submit-btn-bt{
  float: left;
  padding: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 120px;
  background-color: #007BFF;
  border-radius: 4px;
  color: #FFF;
}

.closePopUp{
  float: right;
  padding: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 120px;
  border-radius: 4px;
  color: red;
}

.closePopUp:focus{
  outline: none;
  border: none;
  box-shadow: none;
}




.hidden{
  display: none;
}